<nav class='navbar navbar-light bg-light mb-5'>
  <ul>
    <span class='navbar-brand mb-0 h1'>Events
      <%= link_to 'Root', root_path, class: 'nav-item' %>
      |
      <%= link_to 'View Events', events_path, class: 'nav-item' %>
      |
      <%= link_to 'Post Events', new_event_path, class: 'nav-item' %>
    </span>
  </ul>
</nav>